@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

/*----------------------------------------------------------------
General
----------------------------------------------------------------*/

html, body {
  height: 100%
}

.menu {
  color: @blue-5;
  background-color: @gold-2;
}

.selector {
  color: @blue-5;
  background-color: @gold-2;
}

//@layout-header-background: @magenta-4;
@primary-color: @magenta-6;
@info-color: @primary-color;
@success-color: @green-6;
@processing-color: @magenta-6;
@error-color: @red-5;
@highlight-color: @red-5;
@warning-color: @gold-6;
@normal-color: #d9d9d9;

/*----------------------------------------------------------------
Header
----------------------------------------------------------------*/
.header {
  min-width: "100vh";
}

.navbar {
  display: flex;
}

.logo {
  font-family: "Merriweather";
  font-size: x-large;
  font-weight: 700;
  color: @primary-color;
}

.buttons {
  margin-left: auto;
}

/*----------------------------------------------------------------
Profile
----------------------------------------------------------------*/

.profile-background {
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.profile-box {
  background-color: pink;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 20px;
  // height: 75vh;
  // width: 75vw;
  // margin:0 auto;
  // display: table;
  // margin-right: auto;
  // margin-left: auto;
  // padding-top: 5em;
}

.profile-left {
  padding: 4em;
  height: 100%;
}

.profile-right {
  padding: 4em;
  height: 100%;
}

.profile-image {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em;
}

.profile-button {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em;
}
