@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

/*----------------------------------------------------------------
General
----------------------------------------------------------------*/

html, body, div#root {
  height: 100%
}

.menu {
  color: @blue-5;
  background-color: @gold-2;
}

.selector {
  color: @blue-5;
  background-color: @gold-2;
}

@layout-header-background: @magenta-2;
@menu-bg: @layout-header-background;
@layout-sider-background: @magenta-10;
@primary-color: @magenta-6;
@info-color: @primary-color;
@success-color: @green-6;
@processing-color: @magenta-6;
@error-color: @red-5;
@highlight-color: @red-5;
@warning-color: @gold-6;
@normal-color: #f3f3f3;

/*----------------------------------------------------------------
Header
----------------------------------------------------------------*/
#header {
  min-width: "100vh";

  .navbar {
    display: flex;

    .logo {
      font-family: "Merriweather";
      font-size: x-large;
      font-weight: 700;
      color: @primary-color;
    };

    .buttons {
      margin-left: auto;
    };
  };
}

/*----------------------------------------------------------------
Home
----------------------------------------------------------------*/

#home {
  background-color: @magenta-2;
  height: 100vh;

  .centerRow {
    height: 100vh;
    margin: auto;
  }

  .centerCol {
    margin: auto;
  }

  p {
    font-weight: 300;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    color: @magenta-7;
  };

  span {
    font-weight: 600;
    font-style: italic;
    color: @magenta-7;
  }
}

/*----------------------------------------------------------------
Profile
----------------------------------------------------------------*/

#profile {
  height: 100vh;
}

#profile .left {
  margin: auto;
}

#profile .right {
  margin: auto;

  .image {
    display: block;
    text-align: center;
    margin: auto;
    padding: 1em;
  };

  .button {
    display: block;
    text-align: center;
    margin: auto;
    padding: 1em;
  };
}

/*----------------------------------------------------------------
Meet
----------------------------------------------------------------*/

/*----------------------------------------------------------------
Records
----------------------------------------------------------------*/

#records {
  height: 100vh;

  .patientSider {
    width: 10vw;

    .patientSearch {
      padding: 1em;
      padding-top: 1.25em;
    }

    .patientMenu {
      background-color: @magenta-10;
    };
  };

  .recordContent {
    padding: 1em;
  }

}

/*----------------------------------------------------------------
Appointments
----------------------------------------------------------------*/

#appointments {
  height: 100vh;
}

#appointments .left {
  padding: 2em;
  padding-right: 1em;

  .calendar {
    padding: 2em;
    background-color: @calendar-bg;
  };
}

#appointments .right {
  padding: 2em;
  padding-left: 1em;

  .control {
    margin-bottom: 1em;

    .buttons {
      width: 100%;
      display: flex;
      margin: auto;

    };
  };

  .list {
    padding: 1em;
    background-color: @calendar-bg;

    .title {
      text-align: center;
      color: @magenta-6;
      margin: auto;
      padding-bottom: 0.5em;
      font-weight: 600;
      font-size: large;
    };

    .card {
      border-color: @primary-color;
      background-color: @magenta-1;

      p {
        margin: 0;
        span {
          font-weight: 500;
          font-size: medium;
        };
      };
    };
  };
}
