@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

/*----------------------------------------------------------------
General
----------------------------------------------------------------*/

html, body, div#root {
  height: 100%
}

.menu {
  color: @blue-5;
  background-color: @gold-2;
}

.selector {
  color: @blue-5;
  background-color: @gold-2;
}

//@layout-header-background: @magenta-4;
@primary-color: @magenta-6;
@info-color: @primary-color;
@success-color: @green-6;
@processing-color: @magenta-6;
@error-color: @red-5;
@highlight-color: @red-5;
@warning-color: @gold-6;
@normal-color: #d9d9d9;

/*----------------------------------------------------------------
Header
----------------------------------------------------------------*/
.header {
  min-width: "100vh";
}

.navbar {
  display: flex;
}

.logo {
  font-family: "Merriweather";
  font-size: x-large;
  font-weight: 700;
  color: @primary-color;
}

.buttons {
  margin-left: auto;
}

/*----------------------------------------------------------------
Profile
----------------------------------------------------------------*/

#profile {
  height: 100vh;
}

#profile .profile-left {
  margin: auto;
}

#profile .profile-right {
  margin: auto;
}

#profile .profile-image {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em;
}

#profile .profile-button {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em;
}

/*----------------------------------------------------------------
Appointments
----------------------------------------------------------------*/

#appointments {
  height: 100vh;
}

#appointments .buttons {
  padding: 1em;
  width: 100%;
}
